name: Build, Package and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build_and_docker:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: PNPM-setup
      uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18.x'

    - name: Install Dependencies
      run: pnpm install

    - name: Run Build Script
      run: pnpm run build

    - name: Determine If Latest Tag Should Be Pushed
      id: determine_latest_push
      run: |
        # Check if the tag matches the pattern "vX.Y.Z" (where X, Y, Z are integers)
        if [[ "${{ github.ref_name }}" =~ ^v([0-9]+)\.([0-9]+)\.([0-9]+)$ ]]; then
          LATEST_PUSH=true
        else
          LATEST_PUSH=false
        fi
        echo "LATEST_PUSH=${LATEST_PUSH}" >> $GITHUB_ENV
      shell: bash

    - name: Build and push Docker image
      run: |
        docker login -u reflectornet --password-stdin <<< ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

        docker build -f ./docker/Dockerfile -t reflector-node .

        docker tag reflector-node reflectornet/reflector-node:${{ github.ref_name }}
        docker push reflectornet/reflector-node:${{ github.ref_name }}

        if [ "${{ env.LATEST_PUSH }}" = "true" ]; then
          # Push latest only if LATEST_PUSH is true
          docker tag reflector-node reflectornet/reflector-node:latest
          docker push reflectornet/reflector-node:latest
        fi

    - name: Archive dist directory into tar.gz
      run: |
        tar -czvf dist.tar.gz -C dist .

    - name: Archive dist directory into zip
      run: |
        zip -r dist.zip dist/

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false

    - name: Upload dist.tar.gz to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist.tar.gz
        asset_name: dist.tar.gz
        asset_content_type: application/gzip

    - name: Upload dist.zip to Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./dist.zip
        asset_name: dist.zip
        asset_content_type: application/zip